 body {
      font-family: Arial, sans-serif;
      background: #f0f0f0;
      padding: 30px;
    }

    .converter {
      background: rgb(245, 8, 8);
      padding: 20px;
      max-width: 400px;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    .converter h2 {
      text-align: center;
    }

    label, select, input {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #03f73c;
      color: rgb(135, 7, 146);
      border: none;
      border-radius: 5px;
      font-size: 16px;
    }

    .result {
      margin-top: 20px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }